<div class="container">
    <div class="row">
        <div class="card col s12">
            <div class="card-content">
                <div class="card-title">게시물 수정</div>
                  <%= form_tag post_path(@post), method: "patch" do %>
                      <input type="hidden" name="id" value="<%= @post.id %>">
                      <div class="input-field">
                          <%= text_area_tag :content, @post.content, class: "materialize-textarea", placeholder: "문구 입력" %>
                      </div>
                  
                      <div class="input-field">
                          <%= button_tag "수정하기", class: "btn blue darken-4" %>
                      </div>
                   <% end %>
                </div>
            </div>
        </div>
    </div>
</div>